
*{
  margin: 0px;
  padding: 0px;
}
.cantaners{
  margin-left: auto;
  margin-right:auto ;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  height: auto;
  gap: 30px;
  margin: 30px;
  position: relative;
}
.cardsf{
  width: 250px;
  height: auto;
}
.sizePick{
  height: 150px;
  width: 250px;
}
/* nav component */
.nav{
  height: 60px;
  width: 100%;
  background-color: rgb(210, 231, 224);
  box-shadow: 10px 5px 5px rgb(233, 210, 210);
  display: flex;
  flex-wrap: wrap;
  position: relative;
  

}
.text{
  margin: 10px;
  font-size: large;
}
.self{
  position: absolute;
  right: 5%;

}
.input{

  width: 30%;
  margin: 40px;
  box-shadow: 10px 5px 5px rgb(233, 210, 210);
}
.parentInputDrowp{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  
  
}
.styledrowp{
  width: 30%;
  margin: 40px;
  position: absolute;
  right: -15%;

}
.dropdown{
  height: 25px;
  width: 75px;
  position: absolute;
  right: 30px;
  top: -80px;
}